# Python virtual environment
env/

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django specific
db.sqlite3
*.log
media/
staticfiles/

# VSCode / IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
